body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: green;
}

.text-center {
  background-color: red;
}

img {
  height: 250px;
  margin:0;
  background-color: green;
}

.jumbotron {
  overflow: hidden;
}

.orderContainer {
  display: inline-block;
}



.hide {
  display: none;
}

h2, .h2 {
  color: beige;
  text-align: center;
}